
@{
    Layout = "~/Views/Shared/ReportsLayout.cshtml";
    <title> بيان بحركات المستخدمين</title>
}

<div class="mt-3 dr-rtl grid_box_shadow mx-3 mb-2 row" style="margin-top: 10px !important;">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 text-right">
        <span class="color_main102 font-weight-bold ml-2 mx-3">استعلام عن حركات المستخدمين</span>
    </div>
</div>

<div class="row text-right mt-3 dr-rtl mx-3 mb-2 grid_box_shadow">

    @* منطقة *@
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-1">
        <span class="color_main102 font-weight-bold ml-2 mx-4">
            منطقة
        </span>
        <div>
            @Html.ListBox("area", ViewBag.areas as SelectList, new { @class = "form-control borderDDL selectpicker", title = "--  الكل --", id = "area", @data_live_search = "true", onchange = "FilterArea();" })
        </div>
    </div>

    @* مكتب *@
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-1">
        <span class="color_main102 font-weight-bold ml-2 mx-4">
            مكتــــــــــــــــــب
        </span>
        <div>
            @Html.ListBox("office", ViewBag.Offices as SelectList, new { @class = "form-control borderDDL selectpicker", title = "--  الكل --", id = "office", @data_live_search = "true" })
        </div>
    </div>

    @*المستخدمين*@
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-1 text-right">
        <span class="color_main102 font-weight-bold ml-2 mx-3">المستخدمين</span>
        <div>
            @Html.ListBox("Us", ViewBag.Users as SelectList, new { @class = "form-control borderDDL selectpicker", title = "--  الكل --", id = "Us", @data_live_search = "true" })
        </div>
    </div>

    @* الشاشه *@
    <div class="col-lg-3 col-md-3 col-sm-12 col-12 my-1 text-right">
        <span class="color_main102 font-weight-bold ml-2 mx-3">الشاشه</span>
        <div>
            @Html.ListBox("screen", ViewBag.screen as SelectList, new { @class = "form-control borderDDL selectpicker", title = "--  الكل --", id = "screen", @data_live_search = "true" })
        </div>
    </div>

    @* الحركات *@
    <div class="col-lg-3 col-md-36 col-sm-12 col-12 my-1 text-right">
        <span class="color_main102 font-weight-bold ml-2 mx-3">الحركات</span>
        <div>
            @Html.ListBox("Actions", ViewBag.Actions as SelectList, new { @class = "form-control borderDDL selectpicker", title = "--  الكل --", id = "Actions", @data_live_search = "true" })
        </div>
    </div>

    @* تاريخ  من *@
    <div class="col-lg-2 col-md-2 col-sm-12 mt-2 text-right">
        <span class="color_main102 font-weight-bold ml-2 mx-3">تاريخ  من</span>
        <div>
            @Html.TextBox("DateFrom", "", new { @class = "form-control boorderText date", autoComplete = "off", id = "DateFrom" })
        </div>
    </div>
    @* تاريخ الى *@
    <div class="col-lg-2 col-md-2 col-sm-12 mt-2 text-right">
        <span class="color_main102 font-weight-bold ml-2 mx-3">تاريخ الى</span>
        <div>
            @Html.TextBox("DateTo", "", new { @class = "form-control boorderText date", autoComplete = "off", id = "DateTo" })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2 col-sm-12 align-self-end">
        <button id="btnShow" type="button" style="margin-top: 34px;margin-right: 3px;" value="submit" onclick="callReport()" class="btn btnsStyle btn-outline-primary searchBtnWork font-weight-bold" data-toggle="tooltip" title="عرض" data-placement="bottom">عرض التقرير <span class="glyphicon glyphicon-search"></span></button>
    </div>

</div>

<script>

    function FilterArea() {
        var vallUserType = $('#area').val();

        // ده array عادى بعرفه
        var IDPram = {};
        IDPram.ID = vallUserType;

        if (vallUserType == '') {
            console.log('vallUserType is empty');
            IDPram.ID = '-1'
        }

        $.getJSON("../InsuranceEmployee/GetAreas", $.param(IDPram, true),
          function (data) {

              var select = $("#office");
              var selectOffice = $(select).siblings('.dropdown-menu').find('.dropdown-menu');

              $(select).empty();
              $(selectOffice).empty();

              officeFilter = data;

              $.each(data, function (index, data) {

                  $(select).append($('<option />', {
                      value: data.officeInsuranceCode,
                      text: data.officeInsuranceIDName
                  }));
              });

              $(select).selectpicker('refresh')

          })
    }


    function callReport() {

        @* مكتب *@
        var office = $('#office').val();
        if (office == '')
            office = ''

        @* منطقة *@
        var area = $('#area').val();
        if (area == '')
            area = ''

        @*المستخدمين*@
        var Us = $('#Us').val();
        if (Us == '')
            Us = ''

        @* الشاشه *@
        var screen = $('#screen').val();
        if (screen == '')
            screen = ''

        @* الحركات *@
        var Actions = $('#Actions').val();
        if (Actions == '')
            Actions = ''

        @*تاريخ  من *@
        var DateFrom = $('#DateFrom').val();

        @* تاريخ الى  *@
        var DateTo = $('#DateTo').val();

        if (DateFrom == '' && DateTo == '') {
            DateFrom = '1-1-1950';
            DateTo = '1-1-2090';
        } else if (DateFrom != '' && DateTo != ''){ }
        else if (DateFrom != '') {
            DateTo = DateFrom;
        }
        else if (DateTo != '') {
            DateFrom = DateTo;
        }

        if (new Date(DateFrom) > new Date(DateTo))
            sAlert('"عفوا , لابد من جعل "تاريخ من" اقل من او يساوى "تاريخ الى".  ',2);
        else 
            window.open("/Reports/callReport?reportName=userTrastions&UserCode=" + @(Convert.ToInt32(Session["uc"].ToString())) + "&Action=" + Actions +
              "&screenName=" + screen + "&userCodes=" + Us + "&from_date=" + DateFrom + "&to_date=" + DateTo + "&OfficeCode=" + office + "&AreaCode=" + area,
                'popup_window', 'scrollbars=yes,resizable=yes,status=no,location=no,toolbar=no,menubar=no,width=0,height=0,left=-1000,top=-1000');
    }
</script>
